<h3>The Definition: <%= @definition.definition %></h3>

<form action="/words/<%= @definition.definition %>/definitions/<%= @definition.id%>" method="post">
  <input name="change_definition" type="hidden" value="patch">
  <label for="edit_definition">Change Definition?</label>
  <input id="edit_definition" name="edit_def" type="text">
  <button type="submit">Change</button>
</form>



