<h1>Add a new Word</h1>
<form action="/dictionary" method="post">
  <div class="form-group">
    <input id="name" name="name" class="form-control" type="text" placeholder="New word">
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form>
