<% if @search.any? %>
  <% @search.each do |result| %>
    <ul>
      <li><%= result.name%></li>
    </ul> 
    <% end %>
  <% else %>
    <p>There are no words matching this search</p>
<%end%>
<a href="/words">Return to word list</a>