<h1> Welcome to the Class Dictionary!<h1>
<h3> We got words, and we got definitions </h3>

<% if @names.any? %>
<ul>
  <% @names.each do |name| %>
    <li><a href="/words/<%= name.id %>"><%= name.name%></a></li>
  <% end %>
</ul>
  <% else %>
  <p>There are currently no Words to display.</p>
<% end %>

<a href="/words/new">Add a new word!</a>

<form action='/words/search' method='get'>
  <div class='form-group'>
    <label for="name" >Search!</label>
    <input id='name' name='name' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn-danger'>Go!</button>
</form>