<h1> Welcome to the Class Dictionary!<h1>
<h3> We got words, and we got definitions </h3>

<% if @words.any? %>
<ul>
  <% @words.each do |word| %>
    <li><a href="/words/<%= word.id %>"><%= word.name%></a></li>
  <% end %>
</ul>
  <% else %>
  <p>There are currently no Words to display.</p>
<% end %>

<a href="/words/new">Add a new word!</a>

<form action='/words/search' method='get'>
  <div class='form-group'>
    <label for="word" >Search!</label>
    <input id='word' name='word' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn-danger'>Go!</button>
</form>